.flashcard {
    perspective: 1000px;
    width: 200px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
  }

  .flashcardList{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flashcard-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .flashcard-front,
  .flashcard-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .flashcard.flipped {
    transform: rotateY(180deg);
    justify-content: center;
  }
  
  .flashcard-back {
    transform: rotateY(180deg);
    background: transparent;
    display: flex;
    flex-direction: column;
  }

  #flashcardTextAreaBack{
    height: 5em;
    width: auto;
    background: transparent;
  }

@media screen and (max-width: 768px) {
    .flashcard {
      width: 100%; 
      margin: 10px 0;
    }
  }

  @media screen and (min-width: 769px) {
    .flashcard {
      width: calc(20% - 20px);
      margin: 10px;
    }
  }
  
  #editButton, #deleteButton{
    width: 2em;
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
  }

  #buttons{
    padding: 1em;
    right:0;
    bottom:0;
    position:absolute;
    
  }

  #FlashcardTextArea{
    border: none;
    text-align: center;
    background: transparent;
    margin-top: 2em;
    height: 3em;
    width: 100%;
  }

  .saveButton{
    padding: 1em;
    right:0;
    bottom:0;
    position:absolute;
    text-decoration: none;
    background: none;
	  color: inherit;
	  border: none;
	  padding: 0;
	  font: inherit;
	  cursor: pointer;
	  outline: inherit;
  }
