*{
  font-family: 'Martian Mono', monospace;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url('/public/Imgs/henry-be-TCsCykbwSJw-unsplash(1).jpg');
}

.App {
  text-align: center;
  margin: 2em;
}

#mainLogo{
  width: 7.5em;
  padding-left: 1.75em;
  position:fixed;
  left:0;
  top:0;
  background: transparent;
}

#LandingPageTitle{
  padding-top: 10em;
  text-shadow: .2em .2em .2em #75918B;
}

#toggleButton{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#FlashcardButton, #ListButton{
  height: 1.5em;
}

#top-right-buttons{
  display: flex;
  justify-content: right;
  align-items: center;
}

#mainLogo:hover{
  transform: scale(1.2);
  background: transparent;
  width: 7.5em;
  padding-left: 1.75em;
  position:fixed;
  left:0;
  top:0;
}

.flashcard-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.flashcard-menu {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  max-width: 80%;
  position: fixed;
  top: 0;
  left: -100%;
  height: auto;
  width: 17.5em;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.close-button{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  float:right !important;
}

#ExitButton, #homeImg{
  width: 1.5em;
}

#HomeButton{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.HomeButton{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  float:left !important;
}

.open {
  left: 0;
}

#setButton:hover{
  transform: scale(1.1);
}

.close-button:hover, .HomeButton:hover{
  transform: scale(1.2);
}

#setButton{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border-color: white;
  margin: .5em;
  border-radius: 1em;
}

#showButtonImg{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#showButton{
  width: 1.5em;
  background: transparent;
  display: block;
}

.flashcard-details{
  position: absolute;
  top: center;
  right: center;
  padding: .5em;
  font-size: .75em;
  width: auto;
  background-image: none;
}

#flashcardDetailsWords{
  color: white;
  background-image: none;
  margin: 0;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 1.2em black;
}